* {
    box-sizing: border-box;
}

.main {
    max-width: 40rem;
    margin: 0 auto;
}

.letter {
    font-size: 10rem;
    text-align: center;
}

.phrase {
    text-align: center;
    font-size: 1.5rem;
}

.status {
    color: #555;
    font-size: 1.5rem;
}

.startButton,
.stopButton {
    display: block;

    height: 20vh;
    width: 100%;
    background: #eee;

    font-size: 3rem;
}

.morseInput {
    width: 100%;
    border: 2px solid;

    font-size: 3rem;
}